# Copie ce fichier en .env et remplis les valeurs
# cp .env.example .env

# Django
SECRET_KEY=change-me-generate-a-real-key
DEBUG=False

# Email (Gmail App Password)
EMAIL_HOST_USER=ton_email@gmail.com
EMAIL_HOST_PASSWORD=ton_app_password_gmail
DEFAULT_FROM_EMAIL=noreply@openfood.site

# FedaPay — https://fedapay.com/dashboard
FEDAPAY_SECRET_KEY=sk_sandbox_xxxx
FEDAPAY_PUBLIC_KEY=pk_sandbox_xxxx
FEDAPAY_ENV=sandbox

# URLs
BACKEND_DOMAIN=http://localhost:8000
