{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}iOpenFood{% endblock %}</title>

  <!-- Google Font : Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
<!-- Favicon -->
<link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
<link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}">

  <!-- Tailwind CSS -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Tailwind Config -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: '#16a34a',   // vert OpenFood
            secondary: '#f97316', // orange
            text: '#1f2937',
            background: '#f9fafb'
          },
          fontFamily: {
            sans: ['Roboto', 'sans-serif']
          }
        }
      }
    }
  </script>

  <style>
    body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 700;
    }
  </style>


    {% block extra_head %}{% endblock %}
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="glass-card">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>

{% block extra_js %}{% endblock %}
</body>
</html>
